@use './animation.scss' as *;

.garage {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.raceControls {
  display: flex;
  gap: 0.5rem;
}

.line {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.inputBlock {
  display: flex;
  gap: 0.5rem;
}

.colorLabel {
  position: relative;

  align-self: center;

  inline-size: 30px;
  min-inline-size: 30px;
  block-size: 30px;

  background-color: var(--semi-transparent-black);

  &:has(.colorInput:disabled) {
    background-color: var(--semi-transparent-darkest-grey);
  }

  &:hover:not(:has(.colorInput:disabled)) {
    cursor: pointer;
  }
}

.colorInput {
  position: absolute;
  visibility: hidden;
}

.nameInput {
  border: 1px solid black;

  color: ivory;
  text-shadow:
    2px 2px 2px black,
    0 0 4px black,
    -1px -1px 5px black;

  background-color: var(--semi-transparent-darkest-grey);
  background-image: url('../../assets/img/flame-border-vector-37-2.png');
  background-repeat: repeat;
  background-position: bottom center;
  background-size: 100%;
  box-shadow: inset 0 0 10px 2px black;

  &::placeholder {
    color: rgb(209 209 196);
    text-shadow: 1px 1px 3px black;
  }

  &:disabled {
    box-shadow: inset 0 0 10px 2px black;
  }
}

.newTruckButton {
  max-inline-size: 20rem;
}

.highlightedButton {
  font-size: 1.5rem;
  text-shadow: 0 0 3px #fff;

  &:hover:not(:disabled) {
    animation:
      shine 1s infinite;
  }
}

.raceContainer {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--semi-transparent-black);
}

.sideHeading {
  display: flex;
  align-items: center;

  padding-block: 0.2rem;
  padding-inline: 0.5rem;

  font-family: JollyLodger, sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  color: ivory;
  text-align: center;
  letter-spacing: 0.1rem;

  background-color: var(--semi-transparent-black);
}

.navigation {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
