.winnerRecord {
  display: flex;
  gap: 1rem;

  padding-inline: 0.5rem;

  font-family: JollyLodger, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.1rem;

  background-color: var(--semi-transparent-white);

  transition: background-color 0.3s ease-in-out;

  & > * {
    position: relative;
  }

  &:hover {
    background-color: rgb(232 232 232 / 70%);
  }

  &:nth-child(even) {
    background-color: var(--semi-transparent-light-grey);

    &:hover {
      background-color: rgb(174 174 174 / 70%);
    }
  }

  & > *:not(:last-child)::after {
    content: '';

    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 0;
    transform: translate(0.5rem, -50%);

    inline-size: 1px;
    block-size: 1rem;
    margin-inline-start: 1rem;
    border-inline-end: 1px solid var(--grey);
  }

  &:nth-child(even) > *:not(:last-child)::after {
    border-inline-end: 1px solid var(--grey-dark);
  }
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  min-inline-size: 2rem;
}

.racer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-inline-size: 5rem;
}

.nameContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;

  min-inline-size: 5rem;
  padding-inline-start: 1rem;
}

.name {
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bestTime,
.wins {
  display: flex;
  align-items: center;
  justify-content: center;
  min-inline-size: 70px;
}
