.main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: Honk, sans-serif;
  font-size: 3rem;
  text-align: center;
  text-shadow: 0 0 3px black;
}

.page {
  flex-grow: 1;
  inline-size: 100%;
  max-inline-size: 1200px;
}

.buttonsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  // transition:
  //   inset-inline-start 0.5s ease-in,
  //   inset-inline-end 0.5s ease-in;

  // &:has(.toWinners.active) {
  //   inset-inline-start: 30%;
  // }

  // &:has(.toGarage.active) {
  //   inset-inline-start: -30%;
  // }
}

.viewButton {
  position: relative;

  overflow: hidden;

  inline-size: 0;
  block-size: 30px;
  padding: 0;

  font-size: 1.5rem;
  text-transform: capitalize;

  transition:
    inline-size 0.3s ease-in-out,
    padding-inline 0.3s ease-in-out,
    filter 0.3s;

  .buttonText {
    position: absolute;
    inline-size: 150px;
  }

  &.active {
    inline-size: 150px;
    padding-inline: 0.5rem;
  }
}
