@font-face {
  font-family: Honk;
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Honk-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: JollyLodger;
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/JollyLodger-Regular.woff2')
    format('woff2');
}
